.myOuter#outer {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outerCheck {
	height: 30px;
	width: 30px;
	border: 1px solid transparent;
	border-radius: 50%;
	background: rgb(51, 158, 247);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.midCheck {
	height: 24px;
	width: 24px;
	border: 1px solid transparent;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.innerCheck {
	height: 18px;
	width: 18px;
	border: 1px solid transparent;
	border-radius: 50%;
	background: rgb(51, 158, 247);
	z-index: 3;
}
