* {
	box-sizing: border-box;
	margin: 0px;
}
.grid {
	margin-top: 10%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 5px 5px lightgrey;
}
.boardRow {
	display: flex;
	flex-flow: row;
}
